body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: linear-gradient(#b0bccb, #ddecff);
    color: #2a2725;
}

.form-container {
    background: #f1e4d8;
    border: 2px solid #b56e4f;
    border-radius: 15px;
    margin: 40px auto;
    box-shadow: 0 4px 8px rgb(119, 119, 119);
    padding: 32px 40px;
    max-width: 460px;
}

h2 {
    text-align: center;
    font-size: 2em;
    color: #b56e4f;
    margin-bottom: 28px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 18px;
    margin-bottom: 6px;
    color: #2a2725;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 14px;
    border-radius: 8px;
    border: 2px solid #b56e4f;
    background: #fff9f4;
    font-size: 1em;
    box-sizing: border-box; /*had to look this up to make them all as wide as the category label*/
}

input[type="text"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    border-color: #cb8462;
    background: #f6eee6;
}

textarea {
    height: 70px;
    resize: none; /*had to look this up to stop it from being resizable*/
}

button[type="submit"] {
    background-color: #b56e4f;
    color: #fff9f4;
    border: none;
    padding: 12px 0;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 6px;
    box-shadow: 0 4px 7px rgb(119, 119, 119);
    transition: 0.22s;
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: #cb8462;
    color: #fff9f4;
}

.footer-link {
    text-align: center;
    margin-top: 24px;
}

.footer-link a {
    color: #b56e4f;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
}

.footer-link a:hover {
    color: #cb8462;
    text-decoration: underline;
}